---
const { copyrigthText = "© 2024 Rasen Solutions. All rights reserved." } =
  Astro.props;

const prefix = import.meta.env.DEV ? `/rs-landing-page` : "";
const rasenLogo = `${prefix}/rasen_o_logo.svg`;
---

<div
  class="flex w-full flex-row items-center justify-center gap-3 p-3 md:justify-end"
>
  <img class="h-3 md:h-4" src={rasenLogo} alt="" />
  <p>{copyrigthText}</p>
</div>
